<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
       <br>Counter: <%=counter %> </br>
       <a href ="/two"><button type="button">+2</button></a>
       <a href ="/reset"><button type="button">Reset!</button></a>

</body>
</html>