<!DOCTYPE html>
<html lang="en">
<head>
   
        <title>Moongoose dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      
    
    
</head>
<body>
       <h1>Mongoose</h1>
       <img src="./images/mon1.jpg" alt="cat1" height="240" width="240">
       <img src="./images/mon2.jpg" alt="cat2" height="240" width="240">
       <img src="./images/mon3.jpg" alt="cat3" height="240" width="240">


    </body>
</html>