<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Mongoose </title>
</head>
<body>
    <form  method="post" action="/newmongoose">
      <h1>Mongoose</h1>
      <img src="mon1.jpg" class="img-circle" alt="Mongoose" height="240" width="240">
      
      <div class="container">
       <table border=1 class="table">
        <tr>
            <th>Name</th>
            <th>Details</th>
            
        </tr>
        <% for(var s of mongooses) { %>
            <tr>
                <td><%= s.name %></td>
                <td><%= s.detail %></td>
                <td><a href="/mongoose/edit/<%= s._id %>">Edit</a></td>
                <td><a href="/mongoose/destroy/<%= s._id %>">delete</a></td>
            </tr>
        <% } %>
        </table>
        </div>

        <div class="button">
            <a href="/new">New Mongoose</a>
        </div>

        </form>
    </body>
</html>
