<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Mongoose </title>
</head>
<body>
    <h1>Mongoose</h1>
    <img src="mon1.jpg" class="img-circle" alt="car3" height="240" width="240">


    <form action="/mongooses/<%= mongoose._id %>" method="post">
        <div class="form-group">
            <p>Name: <input type="text" name="name" value="<%= mongoose.name %>" /></p>
        
        </div>
        <div class="form-group">
            <p>Detail: <input type="text" name="detail" value="<%= mongoose.detail %>" /></p>
        </div>
        <div>
            <button type="submit">Save changes</button>
        </div>
    </form>
       
    </body>
</html>
